<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.poster_url %>);"> %>
  <div class="container">
    <h1><%= @list.name %></h1>
    <%# <a class="btn btn-flat" href="#">like my list</a> %>
  </div>
</div>


<div class="container">
  <div class="row py-4">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-4">
        <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.image_url %>)"> %>
          <%= list.name %>


          <%= link_to 'X',
          bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"},
          class: 'btn-delete' %>


        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 mx-auto">
      <%= simple_form_for [@list] do |f| %>
        <%= f.input :name %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Back', lists_path %>
